.page-header {
    font-family: "Share Tech Mono", monospace;
    padding: 1vh 0;
    background-color: #ffffff;
}

.page-header__heading,
.page-header__summary {
    font-family: "Share Tech Mono", monospace;
    margin: 0 30%;     
    text-align: left;
    box-sizing: border-box; 
}

.page-header__heading {
    font-size: 3rem;
    font-family: "Share Tech Mono", monospace;
}

.page-header__summary p {
    font-size: 1.5rem;
    font-family: "Share Tech Mono", monospace;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.page-header__summary time {
    font-family: "Share Tech Mono", monospace;
    font-size: 1.25rem;
}

.visually-hidden {
    font-family: "Share Tech Mono", monospace;
    font-size: 1.25rem;
}

.tags-list {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    gap: 1ch;
}

.tags-list a {
    font-family: "Share Tech Mono", monospace;
    font-size: 1.25rem;
    text-decoration: underline;
}

.tags-list a:hover {
    color: #9ec3ff;
}

