<!DOCTYPE html>
<html lang="en">
	<head>
		<title> {{ title }} </title>
		<link rel="icon" href="/images/favicon.ico" type="image/x-icon">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=BBH+Sans+Bogle&family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Share+Tech+Mono&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="/css/main.css" />
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	</head>
	<body>
		<body>
			<div class="page-container">

				<div class="site-head">
				{% include "partials/site-head.html" %}
				</div>

				<main class="content" tabindex="-1" id="main-content">
				{% block content %}{% endblock %}
				</main>

				{% include "partials/cta.html" %}

				<script src="/js/nav-toggle.js" defer></script>
			</div>
		</body>

	</body>
</html>