{% extends "layouts/base.html" %}
{% block content %}
<link rel="stylesheet" href="/css/home.css">

<article>
    <div class="typewriter-container">
        <div class="typewriter-text">
            <div id="typedtext"></div>
        </div>
        <div class="Intro-Main__Image">
            <img id="main-image" src="{{intro.mainImage}}">
        </div>
    </div>
</article>

<article class="aocta">
    <p class="aocta__text"> 
        {{intro.aocta}} 
        <br> 
        <a class="aocta__button" href="{{intro.aoctaButtonUrl}}">
            {{intro.aoctaButtonText}}
        </a> 
    </p>
    
</article>

{% include "partials/featured-work.html" %}
<script src="/js/typewriter.js" defer></script>
{% endblock %}