{% extends "layouts/base.html" %}
{% block content %}
<link rel="stylesheet" href="/css/home.css">

<article>
    <div class="typewriter-container">
        <div class="typewriter-text">
            <div id="typedtext"></div>
        </div>
        <div class="Intro-Main__Image">
            <img id="main-image" src="{{intro.mainImage}}">
        </div>
    </div>
</article>



{% include "partials/featured-work.html" %}
{% include "partials/cta.html" %}
<script src="/js/typewriter.js" defer></script>
{% endblock %}