{% extends "layouts/base.html" %} 

{% set pageHeaderTitle = title %} 
{% set pageHeaderSummary = content %} 

{% block content %}
<article>
    {% include "partials/page-header.html" %}
</article>

<div class="wrapper">
    <article class="gallery">
    {% for item in collections.work %}
    <li class="gallery__content">
        <h2 class="gallery__heading">
            {{ item.data.title }}
        </h2>
        <p class="gallery__summary">
            {{ item.data.summary }}
        </p>
        <a href="{{ item.url }}" class="button">See this work</a>
        <div class="gallery__media" data-frame="primary">
        <img
            class="radius"
            src="{{ item.data.imagefeatured }}"
        />
        </div>
    </li>
    {% endfor %}
    </article>
</div>
{% endblock %}