.page-content p {
    padding: 2vh 0 2vh 0;
    font-family: "BBH Sans Bogle", sans-serif;
    letter-spacing: 0.15ch;
    font-size: 1.25rem;
    text-align: center;
}

.Blog-home__wrapper {
    text-align: center;
}

.Blog-home__button {
    display: inline-block; 
    color: #000000;
    background-color: #ffffff; 
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 1.1rem;
    padding: 12px 30px;
    border-radius: 5px 15px 10px;
    transition: all 0.3s ease-in-out;
}

.Blog-home__button:hover {
    background-color: #3097ff; 
    color: #000000;
}

